@font-face {
    font-family: 'Josefin Sans';
    src: url("../fonts/JosefinSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'AvenirNext-Regular', 'Josefin Sans', 'Microsoft YaHei';
}